{:deps    {com.layerware/hugsql {:mvn/version "0.4.9"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps  {org.postgresql/postgresql      {:mvn/version "42.2.4"}
                               clojure.jdbc/clojure.jdbc-c3p0 {:mvn/version "0.3.3"}}}}}
